
.product-thumb .flashs {
top: 0;
left: 0;
right: 0;
bottom: 0;
}
@media(min-width:1023px){
.header-control.col-auto {
display: none;
}
}

.add_to_cart_button {
visibility: visible !important;
cursor: pointer !important;;
opacity: 1 !important;;
transform: translateY(0px) !important;
}
.product-desc-content p {
font-weight: inherit;
color: inherit;
}
@media(max-width:369px){ header {
position: fixed;
top: 0;
z-index: 9;
width: 100%;
}
div#PageContainer, #shopify-section-footer_02 {
top: 145px;
}}
div#shopify-section-1616582147d65c2970 .item-slide.imagecontainer-img {
background: none !important;
}
div#shopify-section-1616582147d65c2970 .item-slide.imagecontainer-img picture {
display: flex !important;justify-content:center ;
}
div#shopify-section-1616582147d65c2970 .item-slide.imagecontainer-img picture img{
max-width: 100px;width:100%
}
.footer-middle {
padding: 1.7rem 0 2.2rem;
}
@media(max-width:768px){
.tooltip {
display: none !important;
}
a.logo.d-inline-block {
padding: 0;
}}
.cartCount, .wishlist-count {
background-color: #000;
}

.header .control-inner>div a.icon-link.icon-link:hover, .header .control-inner>div a.menu-bar:hover {
color: #4E3835;
}a:hover, a:focus {
color: #4E3835;
text-decoration: none;
}
.cart-drawer .info__cart-drawer .product-name {
font-size: 1.3rem;
margin-bottom: 0;
display: block;
    max-height: fit-content;
}
.nav-link.btn-primary{
color: white !important;
background-color: #4e3840 !important;
border-color: #4e3840 !important;
}
.nav-link.btn-primary.active{
color: white !important;
background-color: #f98d00 !important;
border-color: #f98d00 !important;
}
.item-search .price {
color: #4E3835;
}
footer .widget-about-info a {
color: #4e3840;
}
.searchDrop.select-custom {
display: none;
}
span.zrx-cart-toggle-wrapper {
display: none;
}
.cart-drawer .item__cart-drawer .variation {
display: none;
}
a.pick_currency {
display: none;
}
@media(max-width:767px){
.item.slick-slide.slick-current.slick-active ,.item.slick-slide.slick-current.slick-active + div{
width: 80vw !important;
}
}

.kt-tabs.panel-group {
margin-top: 0;
}
.summary.entry-summary {
padding-bottom: 0;
}
.entry-short-description {
margin-bottom: 1rem;
}
.tabs_style_1 .tab-content>.tab-pane .border {
margin-top: 1rem;
}
.w-100.border-top.mb-2 {
margin-bottom: 0rem !important;
}
.entry-short-description {
margin-bottom: 3rem;
}
.secure-shopping-guarantee {
padding: 15px 0px 20px 0px;
}
.product {
-webkit-box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
z-index: 1;
padding:5px 5px 10px 5px;
border-radius:5px
}
.product a.btn.btn-primary {
min-width: auto;
}
.sur-banner {
flex-direction: column;
align-items: center;
margin-bottom: 2rem;
}
.cart-discount {
display: none;
}
span.option_title {
padding: 0px 60px !important;
}
span.swatch.bg-contain {
width: 140px !important;
height: 140px !important;
}
.fake_select.not_select li.color_sw.selected, .fake_select.not_select li.color_sw:hover {
border: 4px solid #4e3840;
}
.product-page .entry-title, .product-page .title-sidebar h3 {
font-size: 2rem;
}
.product-line-offer {
display: flex;
align-items: flex-start;
}
.product-line-offer img {
margin-right: 1rem;
margin-top: 3px;
}
.product-offer-wrap h5 {
text-transform: uppercase;
margin-left: 5px;
}
.product-offer-wrap {
background: #f5f5f5;
padding: 10px;
}
.entry-title, #AddToCartText-product-template {
font-weight: bold !important;
}
.filter-by.filterCanvas.d-none.d-lg-block {
display: none !important;
}
.product-addtocart #AddToCart-product-template {
display: block;
}
h2.product-name {
overflow: hidden;
text-overflow: ellipsis;
max-height: 4rem;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.p-style-01 span.wc_product_review_title {
display: none !important;
}
p.footer_subtext {
margin-bottom: 1rem !important;
font-weight: 600;
font-style: italic;
}
.tab-details-product .card h2,.tab-details-product .card h3,.tab-details-product .card h4 {
font-size: 14px;
font-weight: bold;
margin-top: 20px;
}
.tab-details-product .card ul{
  list-style: disc;
  margin-left: 2rem;
}
  .scroll_top {
    top: 65%;
  }
.footer-quickLinks a {
    padding-left: 5px;
}
.card-body {
font-weight: 400;
}
